body {
    margin: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    background-color: #f1f9f1;
    color: #353535;
}

a {
    display: block;
    color: #353535;
    text-decoration: none;
}


/***** HEADER *****/
.header {
    padding: 1rem;
    background-color: rgba(108, 192, 111, 1);
}

.header > h1 {
    margin: 0;
    color: #f1f9f1;
    font-size: 4rem;
}

.header > h3 {
    font-size: 1.5rem;
    margin: 0;
}


/***** CONTENT *****/
.content {
    padding: 1.5rem;
}

.category {
    margin: 0.32rem;
    padding: 0.53rem;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    background-color: rgba(108, 192, 111, 0.13);
}

.category:hover {
    background-color: rgba(108, 192, 111, 0.3);
}

.product {
    text-align: left;
    margin-bottom: 1rem;
}

.product > h3 {
    margin: 0rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    border-radius: 0.2rem;
    background-color: rgba(108, 192, 111, 0.13);
}

.product > pre {
    white-space: pre-wrap;
    font-family: 'Work Sans', sans-serif;
    color: #353535;
    font-size: 1.1rem;
}

.images > img {
    object-fit: cover;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-style: solid;
    border-color: #353535;
    border-width: 0.05rem;
    width: 250px;
    height: 250px;
}


/***** FOOTER *****/
.footer {
    margin-bottom: 2rem;
}

.footer > hr {
    background-color: rgba(108, 192, 111, 0.7);
    height: 0.05rem;
    width: 40%;
    margin: auto;
    border: none;
    margin-bottom: 0.5rem;
}
