[Unit]
Description=catalog

[Service]
Restart=always
RestartSec=30s
WorkingDirectory=/home/user/src/minera/catalog
ExecStart=/home/user/src/minera/catalog/catalog

[Install]
WantedBy=multi-user.target