{{ template "header.html" . }}

    <h1>РЕДАКТОР</h1>

    {{range .}}

    <input id="{{.Id}}" value="{{.Name}}" placeholder="{{.Name}}" maxlength="50">
    <button onclick="getSubCategories({{.Id}})">ПОД-КАТЕГОРИИ</button>
    <button onclick="renameCategory({{.Id}}, {{.Name}})">ПРОМЕНИ ИМЕ</button>
    <button onclick="deleteCategory({{.Id}}, this)">ИЗТРИЙ</button>
    <br>

    {{end}}

    <input autofocus id="newCategoryInput" placeholder="Нова категория" maxlength="50">
    <button onclick="addCategory()">ДОБАВИ</button>
    <br>

    <p class="output" id="output"></p>

    <script src="/static/editor/data.js"></script>
    <script src="/static/editor/categories.js"></script>
</body>
</html>