{{ template "header.html" . }}

    <h1>{{.SubCatName}}</h1>
    <hr>

    {{$categoryId := .CatId}}
    {{$subCategoryId := .SubCatId}}

    {{range .Products}}

    <input id="{{.Id}}" value="{{.Name}}" placeholder="{{.Name}}" maxlength="50"><br>
    <textarea id="textarea{{.Id}}" spellcheck="false" placeholder="{{.Description}}" maxlength="300">{{.Description}}</textarea><br>
    <input id="images{{.Id}}" type="file" multiple accept="image/*"><br>
    <button onclick="editProduct({{$categoryId}}, {{$subCategoryId}}, {{.Id}}, {{.Name}}, {{.Description}})">ЗАПАЗИ ПРОМЕНИТЕ</button>
    <button onclick="deleteProduct({{$categoryId}}, {{$subCategoryId}}, {{.Id}}, this)">ИЗТРИЙ</button><br>
    <p class="output" id="out{{.Id}}"></p>
    <hr>

    {{end}}

    <input autofocus id="name" placeholder="Име на продукта" maxlength="50"><br>
    <textarea id="description" placeholder="Описание на продукта" maxlength="300"></textarea><br>
    <input id="images" type="file" multiple accept="image/*"><br>
    <button onclick="addProduct({{$categoryId}}, {{$subCategoryId}})">ДОБАВИ</button><br>

    <p class="output" id="output"></p>
    <br>
    <br>

    <script src="/static/editor/data.js"></script>
    <script src="/static/editor/products.js"></script>
</body>
</html>