{{ template "header.html" . }}

    <h1>{{.CatName}}</h1>

    {{$categoryId := .CatId}}

    {{range .Subs}}

    <input id="{{.Id}}" value="{{.Name}}" placeholder="{{.Name}}" maxlength="50">
    <button onclick="getProducts({{$categoryId}}, {{.Id}})">ПРОДУКТИ</button>
    <button onclick="renameSubCategory({{$categoryId}}, {{.Id}}, {{.Name}})">ПРОМЕНИ ИМЕ</button>
    <button onclick="deleteSubCategory({{$categoryId}}, {{.Id}}, this)">ИЗТРИЙ</button>
    <br>

    {{end}}

    <input id="newSubCategoryInput" placeholder="Нова под-категория" maxlength="50">
    <button onclick="addSubCategory({{$categoryId}})">ДОБАВИ</button>
    <br>

    <p id="output"></p>

    <script src="/static/editor/subCategories.js"></script>
    <script src="/static/editor/data.js"></script>
</body>
</html>